<div  ng-controller="MainController">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Questioning House</a>
      </div>
      <ul class="navbar-right">
        <li><a href="#" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#askQuestionModal">Ask a Question »</a></li>
      </ul>

    </div>
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome...</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti, placeat eveniet eum a sed, reprehenderit voluptas dolores delectus doloremque maxime ducimus. Minima harum voluptatum corporis, blanditiis nobis ipsa id?</p>
      <p><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#askQuestionModal">Ask a Question »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>Questions</h2>
        <div class="row replace-with-data">

          <div class="col-md-6" ng-repeat="question in questions">
            <div class="well">
              <div class="media">
                <a class="pull-left" href="question-details.html?id=0">
                  <img class="media-object img-circle" src="http://www.gravatar.com/avatar/118eafde997b09ac977f5ed25993ff5f?s=128 " alt="..."> </a> <div class="media-body"> <h4 class="media-heading">{{question.email}} asks</h4>
                  <p>{{question.body}}</p>
                  <a href="question-details.html" class="btn btn-info pull-right">View Answers »</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr>

    <footer>
      <p>© <a href="#" onclick="clearLocalStorage();">Questioning House 2014</a></p>
    </footer>
  </div> <!-- /container -->



  <!-- Modal -->
  <div class="modal fade" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="askQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="askQuestionModalLabel">So what would you like to know?</h4>

        </div>
        <form class="form-horizontal" id="submit-a-question" role="form" onsubmit="addQuestion()">
          <div class="modal-body">
            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputQuestion" class="col-sm-2 control-label">Question</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="8" placeholder="Ask your Question here..." id="question"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Bring me my answers »</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
